@model IEnumerable<Testasp.Models.Player>

@{
    ViewBag.Title = "Каталог игроков";
}
<div id="results">
    <div id="edit">
        <h2>Фильтр игроков</h2>
        <form method="post">
            <select id="Position" style="width:180px;height:25px;" name="Position">
                <option>все</option>
                <option>нападающий</option>
                <option>защитник</option>
                <option>полузащитник</option>
                <option>вратарь</option>
            </select>
          

       
    <input type="search" name="player" placeholder="имя игрока" />
    <button type="submit" class="btn btn-outline-light" name="player">Search</button>
    </form>

    <h2>Каталог игроков</h2>
    <p>
        <div id="add">
        @using (Ajax.BeginForm("Create", new AjaxOptions { UpdateTargetId = "add", HttpMethod = "Get" }))
        {
            <button type="submit" class="btn btn-success">Add player</button>
        }
      
            </div>
       
        </p>
    <table class="table table-bordered">
        <tr>
            <th >Имя игрока</th>
            <th >Возраст</th>
            <th>Позиция на поле</th>
            <th >Команда</th>
            <th > </th>
            <th ></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    @using (Ajax.BeginForm("Delete", new AjaxOptions { UpdateTargetId = "results"}))
                    {
                        <button type="submit" class="btn btn-danger" name="id" value="@item.Id">Delete</button>
                    }
                </td>
                <td>
                    @using (Ajax.BeginForm("Edit", new AjaxOptions { UpdateTargetId = "edit", HttpMethod = "Get" }))
                    {
                        <button type="submit" class="btn btn-warning" name="id" value="@item.Id">Edit</button>
                    }



                </td>

            </tr>

        }
    </table>

    <p>
       
      <h3> @Ajax.ActionLink("List Team", "ListTeams", new AjaxOptions { UpdateTargetId = "teams" })</h3>
             <div id="teams"></div>
    </p>
    </div>
</div>

@Scripts.Render("~/scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
